<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <meta charset="utf-8"> 
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>Aquí le vamos a meter todos los datos así a lo desgraciado </h1>
</body>
</html>