<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <link rel="stylesheet" href="../css/allUsers.css"/>
  <link rel="stylesheet" href="./css/global_rulesEJS.css">
</head>
<body>
  <h1><%= title %> </h1>
  <%- info %>
</body>
</html>